/* ---- GLOBAL ---- */

:root {
    --primary-color: #333e56;
    --secondary-color: #ee6352;
    --text-color-1: #fff;
    --text-color-2: #1b3444;
    --primary-font: "Quattrocento", serif;
    --secondary-font: "Quattrocento Sans", sans-serif;
    --heading-primary: 10rem;
    --heading-secondary: 7.3rem;
    --heading-tertiary: 2.2rem;
    --heading-contact: 3.2rem;
    --text-size: 1.8rem;
    --bs-btn-hover-bg: #08b2e3;
    --bs-btn-hover-color: #fff;
    --bs-card-title-color: #1b3444;
}

html {
    font-size: 62.5%;
}

body {
    color: #444;
    font-size: 1.6rem;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ::selection {
    background-color: var(--secondary-color);
    color: #fff;
} */

a {
    text-decoration: none;
    color: #444;
    transition: all 0.4s;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 90%;
}

section {
    padding-top: 8rem;
}

p {
    font-family: var(--secondary-font);
}

/* ----- TYPOGRAPHY ----- */
.heading-primary {
    font-size: 6rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

.heading-secondary {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: #444;
}

.heading-tertiary {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #444;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

/* ----- HEADER ----- */
.header {
    position: relative;
    background-color: #fafaff;
}

.logo {
    max-width: 1rem;
    margin: 1rem 0;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
}

.logo-click {
    max-width: 28rem;
    display: block;
}

.top-search {
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 1rem 0 0 1rem;
    border: 0;
    border-bottom: 1px solid #eef0f5;
    padding: 1rem;
    font-family: var(--secondary-font);
    color: #444;
}

.btn-search {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 0 0.4rem 0.4rem 0;
    width: 15%;
}

.cart-btn {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 1rem;
    font-weight: 700;
    border-radius: 0.4rem;
    text-transform: uppercase;
    position: relative;
}

.cart-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

.nav-top {
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--primary-color);
}

.nav-item-list {
    position: relative;
}

.nav-item-link {
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #fff;
    display: block;
    padding: 0.6rem 1rem;
}

.nav-item-link:hover {
    background-color: var(--bs-btn-hover-bg);
}

.nav-item-list:last-child .nav-item-link {
    margin-right: 0;
}

.we-link {
    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    animation: bn53bounce 4s infinite;
}

.nav-sub {
    position: absolute;
    left: -9999px;
    z-index: 2;
    width: 100%;
    background-color: #fff;
}

.nav-item-list:hover .nav-sub {
    left: 0;
}

.nav-sub a {
    /* border-bottom: 1px solid var(--bs-btn-hover-bg); */
    padding: 0.6rem 1rem;
    width: 20rem;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--primary-font);
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    background-color: #fff;
    /* box-shadow: 0 7px 22px -5px rgba(47, 56, 68, 0.2); */
    /* border: 1px solid ; */
    display: block;
}

.nav-sub a:hover {
    background-color: var(--bs-btn-hover-bg);
    color: #fff;
}

.carousel-item img {
    height: 75vh;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    position: absolute;
    background-color: #00000038;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.carousel-control {
    padding: 1.6rem;
    border-radius: 0.4rem;
    margin: auto;
    background-color: var(--primary-color);
    display: block;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--primary-color);
    height: 12px;
    width: 8%;
}

/* ----- MOBILE NAVIGATION ----- */
.nav {
    color: white;
    display: none;
}

.nav__trigger-finger {
    position: relative;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 30px;
    height: 20px;
    margin: 20px;
    color: #fff;
}

.nav__trigger-finger::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: var(--primary-color);

    z-index: -1;
    transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-finger span {
    display: block;
    width: 100%;
    height: 2px;
    transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
    background: currentColor;
}
.nav__trigger-finger span::before,
.nav__trigger-finger span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    height: 2px;
    background: currentColor;
    transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1),
        top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1),
        background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-finger span::before {
    top: 0;
}
.nav__trigger-finger span::after {
    top: calc(100% - 2px);
}
.nav__trigger-input,
.nav__submenu-trigger-input {
    opacity: 0;
    width: 0;
    height: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: fixed;
}
.nav__trigger-input:focus + label {
    color: white;
}
.nav__trigger-input:focus + label::before {
    opacity: 1;
}
.nav__trigger-input:checked + label {
    height: 10px;
    color: white;
}
.nav__trigger-input:checked + label span {
    transform: rotate(45deg);
}
.nav__trigger-input:checked + label span::before,
.nav__trigger-input:checked + label span::after {
    top: calc(50% - 1px);
    transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1),
        top 0.4s cubic-bezier(0.75, 0, 0.25, 1),
        background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__trigger-input:checked + label span::after {
    transform: rotate(90deg);
}
.nav__trigger-input:checked ~ ul {
    z-index: 9;
    transform: none;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__list {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: var(--primary-color);
    font-size: 4rem;
    padding: 40px;
    transform: translate(200vw) rotate(45deg);
    transition: 0.2s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__item {
    list-style: none;
}
.nav__item + .nav__item {
    margin-top: 20px;
}
.nav__submenu-trigger-input:checked + label::after {
    transform: translateY(10px);
}
.nav__submenu-trigger-input:checked ~ ul {
    display: block;
}
.nav__submenu-trigger-input:focus + label::after {
    transform: translateY(5px);
}
.nav__submenu-trigger-finger::after {
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-top-color: white;
    transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
}
.nav__link {
    text-decoration: none;
    color: inherit;
}
.nav__list-child {
    display: none;
    font-size: 2rem;
    margin-top: 10px;
    padding-left: 2rem;
}

/* ---- WHATS NEW ---- */

.whats-new {
    background-color: #e2e2e2;
    padding: 8rem 0;

    position: relative;
}

.cat-head {
    margin-top: 4rem;
}

.cat-link img {
    border-radius: 0.6rem;
    height: 20rem;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2rem;
}

.title,
.price {
    font-size: 1.6rem;
    color: #444;
    text-align: center;
    text-transform: capitalize;
    display: block;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.price {
    font-weight: 700;
}

.cat-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.tns-outer {
    position: relative;
}

.controls {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.controls:focus {
    outline: none;
}

.controls li {
    background-color: #081a70;
    border-radius: 0.6rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    color: #fff;
}

.controls li:hover {
    cursor: pointer;
}

.controls i {
    font-size: 3rem;
    line-height: 5rem;
}

/* ----- ABOUT US ----- */

.aboutus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(51%2c 62%2c 86%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c635.33C116.362%2c646.329%2c194.02%2c517.034%2c285.623%2c444.439C367.693%2c379.399%2c451.587%2c320.106%2c508.598%2c232.269C572.775%2c133.391%2c633.702%2c26.842%2c633.176%2c-91.037C632.614%2c-216.842%2c586.013%2c-341.354%2c505.604%2c-438.109C424.336%2c-535.898%2c309.738%2c-605.31%2c185.059%2c-630.254C65.657%2c-654.142%2c-59.863%2c-628.466%2c-168.224%2c-572.92C-266.023%2c-522.788%2c-317.55%2c-420.558%2c-388.217%2c-336.392C-457.598%2c-253.757%2c-540.423%2c-183.938%2c-579.318%2c-83.293C-625.189%2c35.405%2c-701.16%2c182.376%2c-629.278%2c287.382C-554.124%2c397.169%2c-369.341%2c329.154%2c-252.908%2c393.533C-148.729%2c451.137%2c-118.516%2c624.127%2c0%2c635.33' fill='%23212838'%3e%3c/path%3e%3cpath d='M1440 1113.913C1567.537 1125.482 1699.243 1198.163 1815.212 1143.841 1933.065 1088.636 2000.943 957.971 2038.759 833.444 2074.065 717.183 2037.663 596.793 2017.739 476.93399999999997 1998.272 359.823 1996.868 234.36599999999999 1923.644 140.92000000000002 1848.952 45.601 1735.747-24.995000000000005 1615.221-36.74699999999996 1501.097-47.875 1407.261 42.049999999999955 1299.065 80.02100000000002 1198.037 115.476 1072.709 100.12400000000002 1000.348 179.04000000000002 927.718 258.249 958.663 383.606 926.633 486.18899999999996 886.458 614.859 749.472 728.508 788.503 857.529 826.678 983.721 983.443 1031.24 1106.125 1079.519 1212.386 1121.336 1326.274 1103.597 1440 1113.913' fill='%23455474'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    margin-top: 8rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.aboutus-des * {
    color: #fff;
    margin-right: 4rem;
}

.video {
    box-shadow: 0 0 45px -30px rgba(0, 0, 0, 1);
    position: relative;
    padding-bottom: 56%;
    width: 100%;
    text-align: left;
}

.video iframe {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
}

/* ----- TESTIMONIALS ----- */

/* .testimonials {
    margin-bottom: 8rem;
} */

.my-slider {
    margin-top: 8rem;
    padding-bottom: 8rem;
}

.testimonials-details {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 2rem;
    padding: 1rem 3.2rem 2rem;
    /* margin-right: 5rem; */
    box-shadow: 7.3px 6.4px 10px rgba(0, 0, 0, 0.04),
        58px 51px 80px rgba(0, 0, 0, 0.02);
}

.client-pd {
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translateX(-50%);
}

.client-img {
    width: 7rem;
    height: auto;
    border-radius: 100%;
    box-shadow: 7.3px 6.4px 10px rgba(0, 0, 0, 0.14),
        58px 51px 80px rgba(0, 0, 0, 0.07);
}

.test-para {
    /* font-size: 1.2rem; */
    font-style: italic;
    margin-top: 4rem;
}

.client-name {
    margin-top: 2rem;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2rem;
    font-family: var(--secondary-font);
}

.client-cpn {
    display: block;
    color: #444;
    font-size: 1.6rem;
    font-weight: 400;
}

/* ---- FOOTER ---- */
.footer {
    /* padding: 6rem 0;
    padding-bottom: 0; */
    background-color: var(--primary-color);
}

.services {
    /* margin-bottom: 6rem; */
    padding-top: 6rem;
}

.card {
    padding: 1.6rem 1.2rem;
    border-radius: 0.6rem;
    /* background-color:var(--bs-btn-hover-bg); */
    border: none;
    background-position: center center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1006'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='330' y='390' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='510' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='570' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='570' y='570' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='630' y='150' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}
.card-body {
    text-align: center;
}

.card-body .fa-solid {
    color: var(--bs-btn-hover-bg);
}

.card-title {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--bs-btn-hover-bg);
    margin-top: 1.6rem;
}

.card-text {
    font-size: 1.4rem;
    color: var(--bs-btn-hover-bg);
}

.footer-links {
    background-color: var(--primary-color);
    color: #fff;
    padding-top: 2.4rem;
}

.footer-links h3 {
    color: #fff;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-links h3::after {
    content: "";
    background-color: var(--secondary-color);
    width: 4rem;
    height: 0.4rem;
    display: block;
    margin-top: 0.4rem;
}

.footer-au {
    font-size: 1.6rem;
}

.main-logo {
    width: 29rem;
    height: auto;
}

.footer-nav {
    list-style-type: none;
}

.footer-nav-list {
    position: relative;
    margin-right: 2rem;
    margin-bottom: 1.6rem;
    text-transform: capitalize;
}

.footer-nav-list a {
    /* margin-left: 2rem; */
    transition: all 0.4s;
    font-weight: 700;
    font-family: var(--secondary-font);
    color: #fff;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.4rem;
}

.footer-nav-list a:hover {
    border-bottom: 2px solid var(--bs-btn-hover-bg);
    color: var(--bs-btn-hover-bg);
}

/* .footer-nav-list a::before {
    content: "";
    position: absolute;
    background-image: url(../img/Ellipse2.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    left: 0;
    margin-right: 2rem;
    top: 6px;
    transition: all 0.4s;
} */

/* .footer-nav-list:hover a::before {
    left: 4px;
} */

p::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    position: absolute;
    left: -3rem;
    top: 1px;
    /* width: 4px;
    height: 4px; */
    font-size: 20px;
}

.footer .address,
.footer .phone,
.footer .mail {
    margin-left: 3rem;
    font-weight: 700;
}

.address::before {
    content: "\f3c5";
    color: var(--bs-btn-hover-bg);
    font-size: 2rem;
}

.phone::before {
    content: "\f095";
    color: var(--bs-btn-hover-bg);
    font-size: 2rem;
}

.mail::before {
    content: "\f0e0";
    color: var(--bs-btn-hover-bg);
    font-size: 2rem;
}

.social-icon {
    margin-right: 1.6rem;
}

.social-icon img {
    width: 3.2rem;
}

.social-icon:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}

.rr-po {
    border-top: 1px solid #ffffff;
    margin-top: 4rem;
    padding: 1rem 0;
}

.para-rights {
    text-transform: capitalize;
    font-weight: 300;
}

.payopt {
    width: 24rem;
    background-color: #fff;
    padding: 0 0.6rem;
    border-radius: 0.6rem;
}

figure {
    margin-right: 1rem;
    margin-bottom: 0;
}

/* ---- PRODUCT PAGE ---- */

/* ---- PRODUCT IMAGE ---- */

.product-details {
    padding-top: 0;
}

.product-img {
    margin: 3rem 0 0 3rem;
}

#gallery_demo img {
    width: 100px;
    display: initial;
}

/* .product-img img {
    height: 90vh;
    object-fit: cover;
} */

.non-sticky {
    position: static;
}

.product-info {
    margin: 2rem;
    
}

.breadcrumb li,
.breadcrumb a {
    color: #444;
    font-size: 1.4rem;
}

.small-info {
    font-family: var(--secondary-font);
    font-size: 2rem;
}

.select {
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--primary-font);
}

.rating i {
    font-size: 2rem;
    color: var(--secondary-color);
    margin-right: .6rem;
}

.product-types {
    margin-top: 2rem;
}
.pro-btn {
    color: #444;
    font-size: 1.4rem;
    border: 1px solid #444;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    display: inline-block;
}

.product-types li {
    margin-right: 1rem;
    position: relative;
}

.input-radio {
    position: absolute;
    top: 0;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    min-height: 1.5rem;
    min-width: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 0 .4rem;
}

.radio-label {
    padding: 8px 10px;
    font-weight: 700;
    border: 1px solid #444;
    color: #444;
    border-radius: 1rem;
    font-family: var(--secondary-font);
}

.input-radio:checked+span {
    /* line-height: calc(2em - 4px); */
    background-color: var(--bs-btn-hover-bg);
    color: #fff;
    border: 1px solid transparent;
}


.add-cart {
    border: 0;
    background-color: #e2e2e2;
    padding: 1rem;
    width: 30rem;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Quattrocento Sans", sans-serif;
    margin-top: 2rem;
    border-radius: 1rem;
    color: #444;
    font-size: 2rem;
    align-items: center;
}

.price {
    padding: 0;
    font-weight: 800;
    font-size: 2rem;
}

.bootstrap-touchspin {
    width: 20%;
    height: 4rem;
    margin-top: 2rem;
}

.bootstrap-touchspin button {
    height: 100%;
    background-color: var(--primary-color);
    width: 4rem;
    border: 0;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0;
}

.bootstrap-touchspin button:hover {
    background-color: var(--secondary-color);
}

.input-touchspin {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

.bootstrap-touchspin-postfix {
    display: none;
}

.prod-info {
    margin: 2rem;
}

.description-head {
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.social-link {
    margin-top: 2rem;
}

.heading-social {
    font-size: 1.8rem;
}

.social-icon {
    color: #444;
}

.social-icon i {
    font-size: 2.8rem;
    margin-right: 1.2rem;
}

.whoweare {
    margin-bottom: 4rem;
    padding-top: 4rem;
}

.whoweare-title {
    color: #444;
    margin-bottom: 2rem;
}

.team-photo {
    width: 100rem;
    margin-left: 2rem;
}

/* ----- CONTACT US ----- */
.contact-us {
    margin: 0;
    background-color: #f8f8f8;
    padding-top: 0;
}

.contact-img {
    height: 80vh;
    object-fit: cover;
    object-position: center;
}

.contact-box {
    margin-left: 4rem;
}

.cus-h1,
.cus-h3 {
    color: #444;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 0.4rem;
}

.cus-loc {
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: #878e88;
}

.social-media {
    margin-top: 1.2rem;
}

.footer-m {
    margin-top: 0rem;
}

.peepbought {
    margin: 4rem;
}

/* -----LOGIN----- */

/* .login-register {
    width: 50%;
    margin: 4rem auto;
}

.login-register .logreg_box {
    padding: 20px;
    background-color: #f9f9f9;
}

.login-register .logreg_box .form-control {
    background-color: #f2f2f2;
}

.loginbtnreg input.logininbtn {
    background-color: #dc0c0c;
    padding: 6px 12px;
    border-radius: 2px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
  }

  .social-buttons h5 {
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    font-size: 16px;
  } */

/* Register And Login Page */

.login,
.register {
    max-width: 50%;
    margin: 0 auto;
}

.login h3,
.register h3 {
    text-align: center;
    color: #222;
    margin: 0;
    position: relative;
    font-size: 3em;
}
.login h3:before,
.login h3:after,
.register h3:before,
.register h3:after {
    position: absolute;
    top: 50%;
    width: 15%;
    height: 1px;
    background: #d5d5d5;
    content: "";
}

h3.title:before,
.login h3:before {
    left: 22%;
}

h3.title::after,
.login h3:after {
    right: 22%;
}
p.est {
    width: 60%;
    margin: 0.5em auto 0 !important;
    color: #999;
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
    font-weight: 500 !important;
}

.register,
.login {
    padding: 5em 0;
}
.register-page {
    padding: 20px 0px;
}
.login-form-grids {
    width: 100%;
    padding: 1em;
    background: #f7f7f9;
    margin: 3em auto 0;
    border-radius: 0.6rem;
}
.login-form-grids input[type="email"],
.login-form-grids input[type="password"],
.login-form-grids input[type="text"]
 {
    outline: none;
    border: 1px solid #dbdbdb !important;
    padding: 10px;
    font-size: 14px;
    color: #999;
    display: block;
    width: 100%;
    text-transform: capitalize;
    font-family: var(--secondary-font);
}
/* .login-form-grids input[type="email"] {
    background-color: #444;
    margin: 1em 0 0;
} */
/* .login-form-grids input[type="password"] {
    background: url(../img/img-sp.png) no-repeat 5px -220px #fff;
    margin: 1em 0 0;
} */
.forgot {
    margin: 1.5em 0 0;
}
.login-form-grids input[type="submit"] {
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    margin: 1.5em 0 0;
    border-radius: .6rem;
}
.login-form-grids input[type="submit"]:hover {
    background-color: var(--bs-btn-hover-bg);
}
.login-form-grids ::-webkit-input-placeholder {
    color: #999;
}
.forgot a {
    color: #212121;
    font-size: 14px;
    text-decoration: none;
    font-family: var(--secondary-font);
}
.forgot a:hover {
    color: #d8703f;
}

.login h4 {
    margin: 2em 0 0.5em;
    font-size: 1.5em;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
}
.login p,.login-para {
    font-size: 16px;
    color: #444;
    line-height: 1.8em;
    margin: 0;
    text-align: center;

}
.login-para a {
    color: #d8703f;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0 0.5em;
}
.login p a:hover {
    color: #212121;
}
.login p a span {
    top: 0.1em;
    font-size: 0.7em;
    left: 0.3em;
}
/*-- //login --*/
/*-- register --*/
.register h3:before {
    left: 20%;
}
.register h3:after {
    right: 20%;
}
.login-form-grids h5,
.login-form-grids h6 {
    font-size: 1em;
    color: #212121;
    text-transform: uppercase;
    margin: 0 0 2em;
}
/* .login-form-grids input[type="text"] {
    background: url(../img/img-sp.png) no-repeat 5px -259px #fff;
} */
/* .login-form-grids input[type="text"]:nth-child(2) {
    background: url(../img/img-sp.png) no-repeat 0px -298px #fff;
    margin: 1em 0;
} */

.register .form-control,
.login .form-control {
    background-color: #D9D9D9;
    margin: 1rem 0;
}

.login-form-grids .form-control {
    height: 46px;
}
.register-check-box label {
    font-size: 14px;
    font-weight: 500;
    color: #999;
    margin: 1.5em 0 0 0em;
}
.register-check-box .checkbox {
    position: relative;
    padding-left: 38px !important;
    cursor: pointer;
}
.register-check-box .checkbox i {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 25px;
    height: 25px;
    outline: none;
    border: 2px solid #ededed;
    background: #fff;
}
.register-check-box .checkbox input + i:after,
.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.register-check-box .checkbox input:checked + i:after,
.radio input:checked + i:after {
    opacity: 1;
}
.register-check-box .checkbox input,
.register-check-box .radio input {
    position: absolute;
    left: -99999px;
}
.register-check-box .checkbox input + i:after {
    content: "";
    background: url("../img/check.png") no-repeat 1px 2px;
    top: 0px;
    left: 2px;
    width: 16px;
    height: 16px;
    font: normal 12px/16px FontAwesome;
    text-align: center;
}
.login-form-grids h6 {
    margin: 3em 0 2em !important;
}
.login-form-grids input[type="password"]:nth-child(3) {
    margin: 1em 0;
}
.register-home {
    margin: 2em 0 0;
    text-align: center;
}
.register-home a {
    padding: 8px 45px;
    background: #9f9f9f;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.register-home a:hover {
    background: #d8703f;
}

/* CATEGORIES */

.product-detail {
    margin-top: 4rem;
}

/* Left Sidebar */
/* Top Rated Product Section */
.top-rated img {
    float: left;
    margin: 0px 10px 0px 0px;
    width: 60px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.left-sidebar {
    background-color: #f8f8f8;
    padding: 1rem 2rem;
}

.left-sidebar h4 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 10px 0px;
    margin-bottom: 20px;
}
.left-sidebar .sidebar-box ul {
    list-style-type: none;
}
.left-sidebar .sidebar-box ul li {
    padding: 10px 0px;
    border-bottom: 1px dotted #f6f0f0;
}
.left-sidebar .sidebar-box ul li:first-child {
    padding-top: 0px;
}
.left-sidebar .sidebar-box ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}
.left-sidebar .sidebar-box ul li a {
    color: #6c757d;
}
.left-sidebar .sidebar-box ul li a:hover,
.left-sidebar .sidebar-box ul li a:hover::before {
    color: #dc0c0c;
}
.left-sidebar .sidebar-box ul li a::before {
    content: "\f105";
    font-family: FontAwesome;
    font-size: 13px;
    display: inline-block !important;
    cursor: pointer;
    line-height: 20px;
    color: #6c757d;
    margin-right: 6px;
}
.left-sidebar .sidebar-box .rating-mks {
    margin: 4px 0px 2px 0px;
}
.left-sidebar .sidebar-box .top-rated h5 {
    font-size: 16px;
}
.left-sidebar .sidebar-box .rating-mks i {
    color: #faa634;
    font-size: 12px;
}
.left-sidebar .sidebar-box p.left-price {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #dc0c0c;
}
/* Color Section */
.left-sidebar .color-secmks ul {
    list-style-type: none;
}
.left-sidebar .color-secmks ul li {
    display: inline-block;
    margin-bottom: 15px;
}
.left-sidebar .color-secmks ul li a {
    padding: 4px 10px;
    border: 1px solid #ddd;
    color: #6c757d;
}
.left-sidebar .color-secmks ul li a:hover {
    background-color: #dc0c0c;
    border: 1px solid #dc0c0c;
    color: #fff;
}
/* Right SIdebar */

.right-sidebar .abox {
    margin-bottom: 30px;
    border: 2px solid transparent;
    border-radius: 1rem;
}

.right-sidebar .abox:hover {
    border: 2px solid #ddd;
}

/* Image hover and tag, Offer Section */
.kecimgbox {
    position: relative;
    overflow: hidden;
    height: 186px;
}
.kecimgbox img {
    object-fit: cover;
    object-position: center;
    transition: all 0.4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
}
.kecimgbox:hover img {
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -ms-filter: brightness(40%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
span.mks_tag {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: #9cb20e;
    padding: 3px 6px;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
}
span.mks_offer {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #dc0c0c;
    padding: 3px 6px;
    color: #fff;
    border-radius: 6px;
    font-size: 12px;
}
.addcard-wishlist {
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0;
}
.kecimgbox:hover .addcard-wishlist {
    opacity: 1;
}
.addcard-wishlistmks {
    margin: 12px 0px 0px 0px;
}
.addcard-wishlistmks,
.addcard-wishlist {
    background-color: #222222;
    padding: 6px 12px;
    width: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.addcard-wishlistmks ul,
.addcard-wishlist ul {
    list-style-type: none;
    text-align: center;
}
.addcard-wishlistmks ul li,
.addcard-wishlist ul li {
    display: inline-block;
    border-right: 1px solid #666262;
    padding: 0px 10px;
    line-height: 10px;
}
.addcard-wishlistmks ul li:first-child,
.addcard-wishlist ul li:first-child {
    padding-left: 0px;
}
.addcard-wishlistmks ul li:last-child,
.addcard-wishlist ul li:last-child {
    padding-right: 0px;
}
.addcard-wishlistmks ul li a,
.addcard-wishlist ul li a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
}
.addcard-wishlistmks ul li i,
.addcard-wishlist ul li i {
    font-size: 11px;
    padding-right: 3px;
}
.addcard-wishlistmks ul li:last-child,
.addcard-wishlist ul li:last-child {
    border-right: none;
}
.prod-desc {
    padding: 10px;
    /* border: 1px solid #ddd; */
    background-color: #f9f9f9;
    border-radius: 1rem;
}
.prod-desc h4 a {
    font-size: 2rem;
    color: #444;
    font-weight: 700;
}
.prod-desc h4 a:hover {
    color: var(--secondary-color);
}
.rating-mks {
    margin: 10px 0px;
}
.rating-mks i {
    color: #d4cece;
    font-size: 10px;
}
.rating-mks i:hover {
    color: #faa634;
}
.prod-desc ins {
    font-size: 2rem;
    color: #444;
    font-weight: 700;
    text-decoration: none;
    padding-left: 5px;
    font-family: var(--secondary-font);
}
.prod-left-text {
    display: table;
    height: 100%;
    margin: 0;
    table-layout: fixed;
    width: 100%;
}
.shadow-left {
    background-image: url(../img/shadow-left.png);
    background-repeat: no-repeat;
}
.prodmks-sborderrad {
    display: table-cell;
    padding-left: 60px;
    vertical-align: middle;
}
.prod-left-text .shop-now {
    padding-top: 15px;
}
.prod-left-text .shop-now a {
    color: #777;
    text-transform: uppercase;
}
.prod-left-text .shop-now a:hover {
    color: #dc0c0c;
}

/* Filter By Price */

.price-ranger {
    background-color: #f0f0f0;
    padding: 2rem 2rem;
    margin-bottom: 1rem;
}
input#amount {
    border: 0;
    background: none;
    color: #333;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 14px;
}
.pricerange-bg {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}

.price-input {
    width: 100%;
    display: flex;
    border-radius: .6rem;
    font-family: var(--secondary-font);
    margin-bottom: 2rem;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.4rem;
    margin-left: 12px;
    border-radius: .6rem;
    text-align: center;
    border: 1px solid #ccc;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: var(--secondary-font);
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 20%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: #838383;
    padding: 4px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    text-align: left;
}

.list-grid-sort {
    /* border: 1px solid #ddd; */
    padding: 10px;
    margin-bottom: 40px;
    background-color: #f9f9f9;
    color: #444;
}
.list-grid-sort .sizeinproduct {
    margin: 0px;
    display: flex;
    flex-direction: row;
}


.share-this-product ul li,
.wishlists_compare ul li,
.quantity-add-tocatr ul li,
.sizeinproduct ul li {
    display: inline-block;
    font-weight: 700;
}
.list-grid-sort .custom_selectmks {
    width: 155px;
}
.list-grid-sort .list-grid-box {
    padding-top: 5px;
}
.list-grid-sort .list-grid-box ul {
    list-style-type: none;
}
.list-grid-sort .list-grid-box ul li {
    display: inline-block;
}
.list-grid-sort .list-grid-box ul li a {
    padding: 4px 8px;
    border: 2px solid #333;
}
.list-grid-sort .list-grid-box ul li i {
    color: #333;
}
.list-grid-sort .list-grid-box ul li.active a {
    border: 2px solid #dc0c0c;
}
.list-grid-sort .list-grid-box ul li.active i {
    color: #dc0c0c;
}
.list-grid-sort .show-result p {
    margin: 5px 0px 0px 0px;
    text-align: right;
    font-weight: 700;
}
.right-sidebar ul {
    list-style-type: none;
}
.right-sidebar .list-images {
    border: 1px solid #ddd;
    padding: 10px;
}
.right-sidebar .list-desc h5 a {
    color: #333;
}
.right-sidebar .list-desc h5 a:hover {
    color: #dc0c0c;
}
.right-sidebar .list-desc .rating-mks i {
    color: #faa634;
    font-size: 14px;
}
ul.list-viewmks li {
    margin-bottom: 20px;
}
.right-sidebar .addtocart-wishlist {
    margin: 20px 0px;
}
.right-sidebar .addtocart-wishlist a {
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin-right: 10px;
    color: #6c757d;
}
.right-sidebar .addtocart-wishlist a:hover {
    border: 1px solid #dc0c0c;
    color: #dc0c0c;
}
.right-sidebar .addtocart-wishlist i {
    padding-right: 3px;
}
/* Pagination Section */
.pagination-sec {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.pagination__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.pagination__list a {
    color: #6c757d;
}
.pagination-sec .pagination {
    --uiPaginationAlign: var(--paginationAlign);
    --uiPaginationArrowSize: var(--paginationArrowSize, 22px);
    --uiPaginationFontSize: var(--paginationFontSize);
    font-size: var(--uiPaginationFontSize);
}
.pagination__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: var(--uiPaginationAlign);
}
.pagination__item:not(.pagination__control_prev):not(.pagination__item_active) {
    padding-left: 0.5em;
}
.pagination__item:not(.pagination__control_next):not(.pagination__item_active) {
    padding-right: 0.5em;
}
.pagination__item {
    display: inline-block;
    line-height: 1;
}
.pagination__control {
    position: relative;
}
.pagination__control:before,
.pagination__control:after {
    font-size: var(--uiPaginationArrowSize);
    line-height: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pagination__control_prev {
    padding-left: calc(var(--uiPaginationArrowSize) + 5px);
}
.pagination__control_prev:before {
    content: "←";
    left: 0;
}
.pagination__control_next {
    padding-right: calc(var(--uiPaginationArrowSize) + 5px);
}
.pagination__control_next:after {
    content: "→";
    right: 0;
}
.pagination__item_active {
    padding: 0.5875em 0.8em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: #dc0c0c; /*  font-weight: bold; */
}


/* ----- SHOPPING CART ----- */

.shopping-cart,
.checkout {
    margin: 4rem 0;
}

table img {
    width: 15rem;
}

table th,
.order-heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #888;
    margin-bottom: 1rem;
}

table tr {
    vertical-align: middle;
    text-align: center;
}

.table > :not(caption) > * > * {
    color: #444;
    padding: 1rem;
    border-color: #888;
}

table td {
    text-transform: capitalize;
    font-weight: 700;
    font-family: var(--secondary-font);
    font-size: 2rem;
}

table tr td:last-child a i {
    color: var(--secondary-color);
}

thead tr th:first-child {
    text-align: left;
}

.order-summary {
    /* max-width: 75%;
    margin-left: auto; */
    background-color: #f8f8f8;
    padding: 1.4rem;
    /* border: 1px solid #444; */
    border-radius: .6rem;
}


.pro-price {
    justify-content: space-between;
    font-family: var(--secondary-font);
    text-transform: capitalize;
    margin-bottom: .6rem;
    font-weight: 700;
}

.pp-2 {
    border-bottom: 1px solid #888;
    padding-bottom: 1rem;
}

.total-cost {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: .6rem 2rem;
    border-radius: .6rem;
}

.order-checkout {
    text-align: center;
}

.btn-checkout {
    width: 70%;
    background-color: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 2rem;
    border-radius: .6rem;
    padding: 1.2rem;
}

.checkout .form-control {
    border: 0;
    text-transform: capitalize;
    font-size: 1.6rem;
    border-bottom: 1px solid #444;
    border-radius: 0;
    margin-bottom: 1rem;
    font-family: var(--secondary-font);
}

.checkout .form-control:focus {
    box-shadow: none;
}

.checkout .form-control:focus::placeholder {
    font-weight: 700;
}

.form-select {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    border: none;
    border-bottom: 1px solid #444;
    border-radius: 0;
    color: #444;
}

.form-select:focus {
    box-shadow: none;
    font-weight: 700;
}

.form-check .form-check-input {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.pay-opt-img {
    width: 8rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    margin-right: 2rem;
}

.ccimg {
    width: 6rem;
}

.nep-pay {
    margin-top: 2rem;
    border-top: 2px solid #444;
    width: max-content;
    padding-top: 2rem;
}

.nep-pay-img {
    width: 10rem;
    margin-right: 2rem;
}

.ime {
    height: 5rem;
    width: auto;
}


/* ----- RESPONSIVE ----- */
@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .about-para {
        overflow: scroll;
        height: 20rem;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56.25%;
    }

    .heading-primary {
        font-size: 4rem;
    }

    .building-description {
        font-size: 1.8rem;
        max-width: 90%;
    }

    .home-gallery {
        grid-template-rows: auto;
    }
}

/* 768px tablet */
@media only screen and (max-width: 48em) {
    .logo-click {
        margin: auto;
    }

    .top-search {
        width: 85%;
        margin: auto;
    }

    .cart-check {
        margin: 2rem 0;
    }

    .nav-top {
        display: none;
    }

    .nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    section {
        margin-top: 0rem;
        padding-top: 4rem;
    }

    .whats-new {
        margin-top: 0;
        padding: 4rem 0;
    }

    .aboutus {
        margin-top: 4rem;
    }

    .aboutus-des {
        margin-bottom: 4rem;
    }

    .aboutus-des * {
        margin-right: 0;
    }

    .about-para {
        overflow: hidden;
        height: auto;
    }

    .team-pic,
    .mem-desc {
        max-width: 100%;
    }

    .my-slider {
        padding-bottom: 4rem;
    }

    .contact-img {
        height: 60vh;
    }
}

/* 576px mobile */
@media only screen and (max-width: 36em) {
    /* html {
        font-size: 62.5%;
    } */

    /* .sticky {
        display: none;
    } */

    .heading-secondary {
        font-size: 2.8rem;
    }

    .navbar {
        display: none;
    }

    .cat-head {
        font-size: 2.4rem;
        margin-top: 3rem;
    }

    .banner {
        height: 80vh;
    }

    .cat-link::before {
        visibility: visible;
        opacity: 0.4;
    }

    .categories-box {
        height: 25rem;
        margin-bottom: 4rem;
    }

    .cat-title {
        font-size: 2rem;
    }
    /* .categories-box * {
        height: 100%;
        object-fit: cover;
    } */
    /*
    .arc-img {
        height: 100%;
    } */

    /* .cat-head span {
        visibility: visible;
        height: auto;
    } */

    .grid {
        gap: 5px 5px;
    }

    .footer {
        padding: 2rem 0;
    }

    .logo-fimg {
        margin-bottom: 2rem;
    }

    .team-members .container {
        max-width: 80%;
    }

    .about {
        max-width: 100%;
        height: 40vh;
        /* font-size: 2rem; */
    }

    .team-pic {
        /* max-width: 20rem; */
        height: 50vh;
    }

    .mem-desc {
        margin-top: 3.6rem;
    }

    /* .name {
        font-size: 3.6rem;
    }

    .designation {
        font-size: 2.8rem;
    }

    .intro {
        font-size: 2rem;
    } */

    .contact-box {
        margin: 4rem;
    }
}

@media only screen and (max-width: 25em) {
    /* .logo {
        max-width: 10rem;
    } */

    section {
        margin-top: 1rem;
    }

    .categories-box {
        margin-bottom: 0;
    }
}

@keyframes bn53bounce {
    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}
